*.pout
*.perr

deb/debian/.debhelper
deb/debian/files
deb/debian/tabular.debhelper.log
deb/debian/tabular.substvars
deb/debian/debhelper-build-stamp
deb/debian/tabular
tabular_*_all.deb
tabular_*_amd64.buildinfo
tabular_*_amd64.changes
tabular_*.dsc
tabular_*.tar.xz
